.black-skin

    // Sidebar navigation
    #slide-out.side-nav.sn-bg-4.fixed
        ul.custom-scrollbar
            // Logo
            li
                .profile-pic-wrapper.waves-light
                    a(href="#")
                        img.img-fluid.flex-center.rounded-circle.w-100(src=session.user.pic_url)
            // /. Logo
            // Social
            li
                ul.social
                    li
                        a.icons-sm.fb-ic(href="#")
                            i.fab.fa-facebook-f
                    li
                        a.icons-sm.pin-ic(href="#")
                            i.fab.fa-pinterest
                    li
                        a.icons-sm.gplus-ic(href="#")
                            i.fab.fa-google-plus-g
                    li
                        a.icons-sm.tw-ic(href="#")
                            i.fab.fa-twitter
            // /Social
            // Search Form
            li
                form.search-form(role="search")
                    .form-group.md-form.mt-0.pt-1.waves-light
                        input.form-control(type="text" placeholder="Search")
            // /.Search Form
            // Side navigation links
            li
                ul.collapsible.collapsible-accordion
                    li
                        a.collapsible-header.waves-effect.arrow-r
                            i.fas.fa-chevron-right
                            |  Submit blog
                            i.fas.fa-angle-down.rotate-icon
                        .collapsible-body
                            ul.list-unstyled
                                li
                                    a.waves-effect(href="#") Submit listing
                                li
                                    a.waves-effect(href="#") Registration form
                    li
                        a.collapsible-header.waves-effect.arrow-r
                            i.fas.fa-hand-pointer
                            |  Instruction
                            i.fas.fa-angle-down.rotate-icon
                        .collapsible-body
                            ul.list-unstyled
                                li
                                    a.waves-effect(href="#") For bloggers
                                li
                                    a.waves-effect(href="#") For authors
                    li
                        a.collapsible-header.waves-effect.arrow-r
                            i.fas.fa-eye
                            |  About
                            i.fas.fa-angle-down.rotate-icon
                        .collapsible-body
                            ul.list-unstyled
                                li
                                    a.waves-effect(href="#") Introduction
                                li
                                    a.waves-effect(href="#") Monthly meetings
                    li
                        a.collapsible-header.waves-effect.arrow-r
                            i.far.fa-envelope
                            |  Contact me
                            i.fas.fa-angle-down.rotate-icon
                        .collapsible-body
                            ul.list-unstyled
                                li
                                    a.waves-effect(href="#") FAQ
                                li
                                    a.waves-effect(href="#") Write a message
                                li
                                    a.waves-effect(href="#") FAQ
                                li
                                    a.waves-effect(href="#") Write a message
                                li
                                    a.waves-effect(href="#") FAQ
                                li
                                    a.waves-effect(href="#") Write a message
                                li
                                    a.waves-effect(href="#") FAQ
                                li
                                    a.waves-effect(href="#") Write a message
                    li
                        a.collapsible-header.waves-effect(href="/logout")
                            i.fas.fa-sign-out-alt
                            | Logout
            // /. Side navigation links
        .sidenav-bg.mask-strong
    // /. Sidebar navigation