.black-skin

    // Sidebar navigation
    #slide-out.side-nav.sn-bg-4.fixed
        ul.custom-scrollbar
            // Logo
            li#profile-pic
                .profile-pic-wrapper.waves-light
                    a.d-flex.align-items-center(href="/user")
                        img.img-fluid.rounded-circle.w-100(src=session.user.pic_url)
            // /. Logo
            // Social
            li
                ul.social
                    li
                        a.icons-sm.fb-ic(href="#")
                            i.fab.fa-facebook-f
                    li
                        a.icons-sm.pin-ic(href="#")
                            i.fab.fa-pinterest
                    li
                        a.icons-sm.gplus-ic(href="#")
                            i.fab.fa-google-plus-g
                    li
                        a.icons-sm.tw-ic(href="#")
                            i.fab.fa-twitter
            // Side navigation links
            li
                ul.collapsible.collapsible-accordion
                    li
                        a.collapsible-header.waves-effect.arrow-r(href='/connect')
                            i.fas.fa-user-friends
                            | Connections
                    li
                        a.collapsible-header.waves-effect.arrow-r(href='/create-family')
                            i.fas.fa-plus-square
                            | Create family group
                    li
                        a.collapsible-header.waves-effect.arrow-r(href='/families')
                            i.fas.fa-users
                            | Family groups
                        //    i.fas.fa-angle-down.rotate-icon
                        //.collapsible-body
                        //    ul.list-unstyled
                        //        li
                        //            a.waves-effect(href="#") Family 1
                        //        li
                        //            a.waves-effect(href="#") Family 2
                    li
                        a.collapsible-header.waves-effect.arrow-r
                            i.fas.fa-cog
                            | Settings
                    li
                        a.collapsible-header.waves-effect.arrow-r(href="/logout")
                            i.fas.fa-sign-out-alt
                            | Logout
            // /. Side navigation links
        .sidenav-bg.mask-strong
    // /. Sidebar navigation