extends parents/base

block title
    title Add relation

block append head
    link(rel="stylesheet" href="css/user/request.css")

block content
    .container.min-vh-100.py-5
        .row.d-flex.justify-content-center
            #search.md-form.col-md-10.p-0.mx-3
                input.form-control.input-rounded-bordered.input-focus-shadow(type="text" placeholder="Search user's name with minimum three letters" aria-label="Search")
                a.input-group-btn
                    i.fas.fa-search.text-grey(aria-hidden="true")
        #results.my-5

block append script
    script(type="text/javascript" src="js/includes/imagesloaded.pkgd.min.js")
    script(type="text/javascript" src="js/user/templates.js")
    script(type="text/javascript" src="js/user/addRelation.js")
