// Modal: Login / Register Form
#modalLRForm.modal.fade(tabindex="-1" role="dialog" aria-labelledby="Login / Register" aria-hidden="true")
    .modal-dialog(role="document")
        // Content
        .modal-content
            // Modal cascading tabs
            .modal-c-tabs
                // Nav tabs
                ul.nav.nav-tabs.nav-fill.tabs-2.light-blue(role="tablist")
                    li.nav-item
                        a.nav-link.active.black-text(data-toggle="tab" href="#loginPanel" role="tab")
                            i.fas.fa-user.mr-1
                            | Login
                    li.nav-item
                        a.nav-link.black-text(data-toggle="tab" href="#registerPanel" role="tab")
                            i.fas.fa-user-plus.mr-1
                            | Register
                // Tab panels
                .tab-content
                    #loginPanel.tab-pane.fade.in.show.active(role="tabpanel")
                        .view.px-5.py-3
                            // Body
                            .modal-body
                                form(id="signin")
                                    .md-form
                                        i.fas.fa-envelope.prefix
                                        input#loginEmail.form-control.validate(type="email")
                                        label(for="loginEmail")
                                            | Your email
                                    .md-form
                                        i.fas.fa-lock.prefix
                                        input#loginPwd.form-control.validate(type="password")
                                        label(for="loginPwd")
                                            | Your password
                                    .text-center
                                        button.btn.peach-gradient.w-100.btn-rounded.mt-4.mb-5.mx-0(type="button")
                                            | Log in
                            // Footer
                            .modal-footer
                                .options.text-center.text-md-right.mt-1
                                    p
                                        | Forgot
                                        a.blue-text(href="#")
                                            |  Password?
                                button.btn.btn-sm.btn-outline-info.waves-effect.ml-auto(type="button" data-dismiss="modal")
                                    | Close
                    // /.login panel
                    // register panel
                    #registerPanel.tab-pane.fade(role="tabpanel")
                        .view.px-5.py-3
                            // Body
                            .modal-body
                                form(id="signup")
                                    .md-form
                                        i.fas.fa-envelope.prefix
                                        input#registerEmail.form-control.validate(type="email")
                                        label(for="registerEmail")
                                            | Your email
                                    .md-form
                                        i.fas.fa-lock.prefix
                                        input#registerPwd.form-control.validate(type="password")
                                        label(for="registerPwd")
                                            | Your password
                                    .md-form
                                        i.fas.fa-lock.prefix
                                        input#registerReptPwd.form-control.validate(type="password")
                                        label(for="registerReptPwd")
                                            | Repeat password
                                    .text-center.my-5
                                        button.btn.aqua-gradient.w-100.btn-rounded.mt-4.mb-5.mx-0(type="button")
                                            | Sign up
                                .text-center.mt-5
                                    | Or Sign up Using
                                .text-center.my-4
                                    a.btn-rounded.btn-circle(style="background: #3c5a99")
                                        i.fab.fa-facebook-f.text-white
                                    a.btn-rounded.btn-circle(style="background: #DB4437")
                                        i.fab.fa-google.text-white
                                    a.btn-rounded.btn-circle(style="background: #1DA1F2")
                                        i.fab.fa-twitter.text-white
                            // Footer
                            .modal-footer
                                .options.text-right
                                button.btn.btn-sm.btn-outline-info.waves-effect.ml-auto(type="button" data-dismiss="modal")
                                    | Close
                    // /.register panel
        // /.Content
// Modal: Login / Register Form
