extends parents/base

block title
    title Add relation

block append head
    link(rel="stylesheet" href="/css/user/materialSelect.css")
    link(rel="stylesheet" href="/css/user/connect.css")

block content
    .container.min-vh-100.py-5
        section.col-md-10.mx-auto
            ul.nav.nav-tabs.nav-justified.md-tabs(role="tablist")
                li.nav-item.waves-effect.waves-light
                    a.nav-link.active(data-toggle="tab" href="#connections" role="tab") Connections
                li.nav-item.waves-effect.waves-light
                    a.nav-link(data-toggle="tab" href="#connect" role="tab") Add new connection
            hr.mt-0

        .tab-content
            #connections(role="tabpanel").tab-pane.fade.active.show

            #connect(role="tabpanel").tab-pane.fade
                .row.d-flex.justify-content-center
                    #search.md-form.col-md-10
                        input.form-control.input-rounded-bordered.input-focus-shadow(type="text" placeholder="Search user's name with minimum three letters" aria-label="Search")
                        a.input-group-btn
                            i.fas.fa-search.text-grey(aria-hidden="true")
                #results.mb-5

block append script
    script(type="text/javascript" src="/js/includes/imagesloaded.pkgd.min.js")
    script(type="text/javascript" src="/js/includes/materialSelect.js")
    script(type="text/javascript" src="/js/user/templates/utils.js")
    script(type="text/javascript" src="/js/user/templates/user.js")
    script(type="text/javascript" src="/js/user/connect.js")
