extends parents/base

block append head
    link(rel="stylesheet" href="/css/index.css")

block append header
    // Mask
    #intro.view
        .mask.rgba-black-strong
            .container-fluid.d-flex.align-items-center.justify-content-center.h-100
                .row.d-flex.justify-content-center.text-center
                    .col-md-10
                        // Heading
                        h2.display-4.font-weight-bold.white-text.pt-5.mb-2 Family Memories
                        // Divider
                        hr.hr-light
                        // Description
                        h4.white-text.my-4
                            | Bring your family history to life.
                            | Record, preserve and share precious family moments.
                        button.btn.btn-dark-green.btn-rounded.waves-effect(type="button" data-toggle="modal" data-target="#modalLRForm")
                            | Get Started

block content
    main.mt-5
        .container
            // Section: Feature-1
            section#feature-1.py-5.wow.fadeInUp
                // Container
                .container
                    // Section heading
                    h1.h1-responsive.font-weight-bold.text-center.mb-2 Features
                    // Section description
                    p.grey-text.text-center.w-responsive.mx-auto.mb-5
                        | Features we aim to deliver:
                    // Grid row
                    .row
                        // Grid column
                        .col-md-7.mb-4
                            .view.overlay.z-depth-1-half.feat_div
                                img.card-img-top.feat_img(src="https://twile.com/content/images/home/new/homeSnapshots.jpg" alt="")
                                .mask.rgba-white-light
                        // Grid column
                        // Grid column
                        .col-md-5.mb-4.align-self-center
                            h2 Upload and share family photos and artifacts
                            hr
                            p
                                | Tell your own part of the story - birth, marriage, graduation - and build an amazing
                                | record of your life so far
                        // Grid column
                    // Grid row
                    // Grid row
                    .row
                        // Grid column
                        .col-md-7.mb-4.order-md-2
                            .view.overlay.z-depth-1-half.feat_div
                                img.card-img-top.feat_img(src="https://cdn-images-1.medium.com/max/2000/1*Pebp8Cds-RLs417qaOS_8A.png" alt="")
                                .mask.rgba-white-light
                        // Grid column
                        // Grid column
                        .col-md-5.mb-4.align-self-center
                            h2 Connect with your family members
                            hr
                            p
                                | Nobody can tell your story like you can - tell it now for your children
                                | and grandchildren to explore in years to come.
                        // Grid column
                    // Grid row
                    // Grid row
                    .row
                        // Grid column
                        .col-md-7.mb-4
                            .view.overlay.z-depth-1-half.feat_div
                                img.card-img-top.feat_img(src="https://clipart.info/images/ccovers/1496768014my-family-tree-clip-art-cartoon.png" alt="")
                                .mask.rgba-white-light
                        // Grid column
                        // Grid column
                        .col-md-5.mb-4.align-self-center
                            h2 Create family groups to hold everyone together
                            hr
                            p
                                | Collaborate with your whole family by sharing photos, memories and events in
                                | a single group - a permanent and ever-growing record of family moments
                        // Grid column
                    // Grid row
                // Container
            // Section: Feature-1
            hr.my-5
            // Section: Feature-2
            section#feature-2.text-center.py-5.wow.pulse
                // Heading
                h2.mb-2.font-weight-bold Why is it so great?
                // Description
                p.grey-text.text-center.w-responsive.mx-auto.mb-5
                    | Here are some benefits of using our service:
                // Grid row
                .row
                    // Grid column
                    .col-md-4.mb-5
                        i.fa.fa-camera-retro.fa-4x.dark-grey-text
                        h4.my-4.font-weight-bold Experience
                        p.grey-text Record important and precious family memories and share with other family members.
                    // Grid column
                    // Grid column
                    .col-md-4.mb-1
                        i.fa.fa-heart.fa-4x.pink-text
                        h4.my-4.font-weight-bold Happiness
                        p.grey-text Spread love and spend family moments together.
                    // Grid column
                    // Grid column
                    .col-md-4.mb-1
                        i.fa.fa-lock.fa-4x.purple-text
                        h4.my-4.font-weight-bold Private
                        p.grey-text
                            | Artifacts and family information are only ever shared with you
                            | and your family.
                    // Grid column
                // Grid row
            // Section: Feature-2
            hr.my-5
            // Section: Gallery
            section#gallery.py-5.wow.flipInX
                // Heading
                h1.h1-responsive.font-weight-bold.text-center.mb-5 Gallery
                // Grid row
                .row
                    // Grid column
                    .col-md-6.mb-4
                        // Carousel Wrapper
                        #galleryCarousel.carousel.slide.carousel-fade(data-ride="carousel")
                            // Indicators
                            ol.carousel-indicators
                                li.active(data-target="#galleryCarousel" data-slide-to="0")
                                li(data-target="#galleryCarousel" data-slide-to="1")
                                li(data-target="#galleryCarousel" data-slide-to="2")
                            // /.Indicators
                            // Slides
                            .carousel-inner(role="listbox")
                                .carousel-item.active
                                    .view
                                        img.d-block.w-100(src="/images/upload-demo.png" alt="First slide")
                                        .mask.rgba-black-slight
                                .carousel-item
                                    // Mask color
                                    .view
                                        img.d-block.w-100(src="/images/connections-demo.png" alt="Second slide")
                                        .mask.rgba-black-slight
                                .carousel-item
                                    // Mask color
                                    .view
                                        img.d-block.w-100(src="/images/family-demo.png" alt="Third slide")
                                        .mask.rgba-black-slight
                            // /.Slides
                            // Controls
                            a.carousel-control-prev(href="#galleryCarousel" role="button" data-slide="prev")
                                span.carousel-control-prev-icon(aria-hidden="true")
                                span.sr-only Previous
                            a.carousel-control-next(href="#galleryCarousel" role="button" data-slide="next")
                                span.carousel-control-next-icon(aria-hidden="true")
                                span.sr-only Next
                            // /.Controls
                        // /.Carousel Wrapper
                    // Grid column
                    // Grid column
                    .col-md-6
                        // Excerpt
                        h6.pb-1.teal-text
                            i.fa.fa-heart
                            strong  Family
                        p
                            | Screenshots of our service delivered. Users can:

                        ul
                            li Upload photos and describe family moments
                            li Like and comment to share feelings with family members
                            li Connect with family members
                            li Share artefacts within family groups
                    // Grid column
                // Grid row
            // Section: Gallery
            hr.my-5
            // Section: Contact
            section#contact.py-5.wow.bounceIn
                .container
                    // Section heading
                    h1.h1-responsive.font-weight-bold.text-center.mb-2 Contact us
                    // Section description
                    p.grey-text.text-center.w-responsive.mx-auto.mb-5 Contact us if you have any questions.
                    // Grid row
                    .row.grey-text.card.py-4.flex-row
                        // Grid column
                        .col-md-8.mb-md-0.px-5
                            form
                                // Grid row
                                .row
                                    // Grid column
                                    .col-md-6
                                        .md-form.mb-0
                                            i.fa.fa-user.prefix
                                            input#contact-name.form-control(type="text")
                                            label(for="contact-name") Your name
                                    // Grid column
                                    // Grid column
                                    .col-md-6
                                        .md-form.mb-0
                                            i.fa.fa-envelope.prefix
                                            input#contact-email.form-control(type="text")
                                            label(for="contact-email") Your email
                                    // Grid column
                                // Grid row
                                // Grid row
                                .row
                                    // Grid column
                                    .col-md-12
                                        .md-form.mb-0
                                            i.fa.fa-tag.prefix
                                            input#contact-Subject.form-control(type="text")
                                            label(for="contact-Subject") Subject
                                    // Grid column
                                // Grid row
                                // Grid row
                                .row
                                    // Grid column
                                    .col-md-12
                                        .md-form
                                            i.fas.fa-angle-double-right.prefix
                                            textarea#contact-message.form-control.md-textarea.pt-2.pb-0(rows="2")
                                            label(for="contact-message") Your message
                                    // Grid column
                                // Grid row
                            .text-center.text-md-center
                                a.btn.btn-blue.btn-md Send
                        // Grid column
                        // Grid column
                        .col-md-4.text-center.px-5.my-4.border-left.d-flex.align-items-center
                            ul.list-unstyled.mb-0.mx-auto
                                li
                                    i.fas.fa-map-marker-alt.fa-lg.blue-grey-text
                                    p Melbourne, VIC 3010, AUS
                                li
                                    i.fa.fa-envelope.fa-lg.blue-grey-text
                                    p desert-eagles@gmail.com
                                // <li>
                                // <i class="fa fa-phone fa-2x blue-grey-text"></i>
                                // <p>+ 01 234 567 89</p>
                                // </li>
                        // Grid column
                    // Grid row
            // Section: Contact
    // Main layout
    br

block append script
    script(type="text/javascript" src="/js/user/auth.js")