extends parents/base

block title
    title Required Information

block content
    .container.py-5.h-100.w-50
        html
            body
                form
                    // Grid row
                    .row
                        // Grid column
                        .col-md-6
                            .md-form.mb-0
                                i.fa.fa-user.prefix
                                input#first-name.form-control(type="text")
                                label(for="first-name") First name
                        // Grid column
                        // Grid column
                        .col-md-6
                            .md-form.mb-0
                                input#last-name.form-control(type="text")
                                label(for="last-name") Last name
                        // Grid column
                    // Grid row
                    // Grid row
                    .row
                        // Grid column
                        .col-md-12
                            .md-form.mb-0
                                i.fa.fa-calendar-alt.prefix
                                input#dob.form-control(type="date")
                                label(for="dob") Date of birth
                    // Grid row
                    .row
                        // Grid column
                        .col-md-12
                            .md-form.mb-0
                                i.fas.fa-user-ninja.prefix
                                input#nickname.form-control(type="text")
                                label(for="nickname") Your nickname