extends parents/base

block title
    title All requests

block append head
    link(rel="stylesheet" href="css/user/materialSelect.css")
    link(rel="stylesheet" href="css/user/request.css")

block content
    .container.min-vh-100.py-5
        #request

block append script
    script(type="text/javascript" src="js/includes/imagesloaded.pkgd.min.js")
    script(type="text/javascript" src="js/user/templates.js")
    script(type="text/javascript" src="js/user/materialSelect.js")
    script(type="text/javascript" src="js/user/request.js")
