extends parents/base

block title
    title Upload post

block append head
    link(rel="stylesheet" href="/css/post/dropzone.css")
    link(rel="stylesheet" href="/css/post/upload.css")
    link(rel="stylesheet" href="/css/user/materialSelect.css")

block content
    .container.min-vh-100.py-5
        .row
            .col-12
                .form-container
                    .d-flex.justify-content-center
                        .spinner-grow.my-5(role="status")
                    form#post(style="display: none")
                        .form-group.shadow-textarea.mb-5
                            label(for="description") Description
                            textarea#description.form-control.z-depth-1(rows="3" placeholder="Write something here...")
                        .form-group.mb-5
                            label(for="media") Media
                            #media.dropzone
                        .md-form
                            i.fa.fa-calendar-alt.prefix
                            input#occurredAt.form-control(type="date")
                            label(for="occurredAt") Date of occurrence
                        #selectFamilies.md-form
                        button#save.btn.btn-sm.btn-primary.waves-effect.waves-light(type="button") Post


    #errorModal.modal.fade.top(
    tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true")
        .modal-dialog.modal-full-height.modal-top(role="document")
            // Content
            .modal-content
                // Header
                .modal-header
                    p#errorMsg.m-0.w-100.text-danger Please enter something in the description or upload a photo
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×

block append script
    script(type="text/javascript" src="/js/includes/dropzone.js")
    script(type="text/javascript" src="/js/includes/materialSelect.js")
    script(type="text/javascript" src="/js/post/upload.js")