extends parents/base

block append head
    link(href="css/post.css" rel="stylesheet")

block content
    .container.min-vh-100.py-5
        // TODO just demo for the time bring
        include includes/post
        include includes/post