extends parents/base

block append head
    link(rel="stylesheet" href="/css/post/post.css")
    link(rel="stylesheet" href="/css/post/lazyLoad.css")
    // Ref: https://photoswipe.com/documentation/getting-started.html
    link(rel="stylesheet" href="/css/post/photoswipe.css")
    link(rel="stylesheet" href="/css/post/photoswipeDefaultSkin/default-skin.css")

block content
    .container.min-vh-100.py-5
        section.card.wow.fadeIn.animated(style="visibility: visible; animation-name: fadeIn;")
            // Content
            .card-body.text-center.p-5.px-5(style="background-image: url('https://aifs.gov.au/cfca/sites/default/files/styles/publication_main/public/CFCA10.jpg?itok=smAynNMI');\
              background-repeat: no-repeat;  background-size: cover ;background-position: top center;color: #00bfff")
                h4.mb-4
                    strong Post your memories now
                p.mb-3
                    strong Share your moment and join the big family
                a.btn.btn-primary.btn-sm.waves-effect.waves-light(href="/upload")
                    | Upload post

        hr.my-5

        #postContainer

        .page-load-status
            .loader-ellips.infinite-scroll-request
                span.loader-ellips__dot
                span.loader-ellips__dot
                span.loader-ellips__dot
                span.loader-ellips__dot
            p.infinite-scroll-last End of content
            p.infinite-scroll-error No more posts to load

    include includes/photoswipe

block append script
    script(type="text/javascript" src="/js/includes/infinite-scroll.pkgd.min.js")
    script(type="text/javascript" src="/js/post/lazyLoad.js")
    // Ref: https://photoswipe.com/documentation/getting-started.html
    script(type="text/javascript" src="/js/includes/photoswipe.min.js")
    script(type="text/javascript" src="/js/includes/photoswipe-ui-default.min.js")
    script(type="text/javascript" src="/js/includes/imagesloaded.pkgd.min.js")
    script(type="text/javascript" src="/js/post/gallery.js")
