html,
body {
    height: 100%;
}

.top-nav-collapse {
    background-color: #24355C;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

.btn-rounded {
    border-radius: 10rem !important;
}

.md-form .form-control {
    padding: .4rem 0 .2rem;
}

.md-form .prefix {
    top: .75rem;
    left: 0;
    font-size: 1rem;
}

.md-form label {
    top: -0.25rem;
    transition: .2s ease-in-out;
}

.md-form label.active {
    top: 0;
}

.md-form .prefix ~ input, .md-form .prefix ~ textarea {
    margin-left: 1.5rem;
    width: calc(100% - 1.5rem);
}

.md-form .prefix ~ label {
    margin-left: 1.5rem;
}

.modal-open .fixed-top {
    padding-right: 1rem !important;
}

.btn-circle {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.5rem;
    display: inline-block;
}

.btn-circle i {
    font-size: 1.25rem;
    line-height: 2.5rem;
}

.nav-tabs {
    border: none;
}

.nav-tabs .nav-link {
    border: none;
    border-radius: 0;
}

input[type="date"] ~ label {
    top: 1rem;
}
