[type=radio]:checked,
[type=radio]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none
}

.form-check-input[type=radio]:checked + label,
.form-check-input[type=radio]:not(:checked) + label,
label.btn input[type=radio]:checked + label,
label.btn input[type=radio]:not(:checked) + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 1.5625rem;
    line-height: 1.5625rem;
    transition: .28s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.form-check-input[type=radio] + label:after,
.form-check-input[type=radio] + label:before,
label.btn input[type=radio] + label:after,
label.btn input[type=radio] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    transition: .28s ease
}

.form-check-input[type=radio].with-gap:checked + label:after,
.form-check-input[type=radio].with-gap:checked + label:before,
.form-check-input[type=radio]:checked + label:after,
.form-check-input[type=radio]:checked + label:before,
.form-check-input[type=radio]:not(:checked) + label:after,
.form-check-input[type=radio]:not(:checked) + label:before,
label.btn input[type=radio].with-gap:checked + label:after,
label.btn input[type=radio].with-gap:checked + label:before,
label.btn input[type=radio]:checked + label:after,
label.btn input[type=radio]:checked + label:before,
label.btn input[type=radio]:not(:checked) + label:after,
label.btn input[type=radio]:not(:checked) + label:before {
    border-radius: 50%
}

.form-check-input[type=radio]:not(:checked) + label:after,
.form-check-input[type=radio]:not(:checked) + label:before,
label.btn input[type=radio]:not(:checked) + label:after,
label.btn input[type=radio]:not(:checked) + label:before {
    border: 2px solid #5a5a5a
}

.form-check-input[type=radio]:not(:checked) + label:after,
label.btn input[type=radio]:not(:checked) + label:after {
    transform: scale(0)
}

.form-check-input[type=radio]:checked + label:before,
label.btn input[type=radio]:checked + label:before {
    border: 2px solid transparent
}

.form-check-input[type=radio].with-gap:checked + label:after,
.form-check-input[type=radio].with-gap:checked + label:before,
.form-check-input[type=radio]:checked + label:after,
label.btn input[type=radio].with-gap:checked + label:after,
label.btn input[type=radio].with-gap:checked + label:before,
label.btn input[type=radio]:checked + label:after {
    border: 2px solid #4285f4
}

.form-check-input[type=radio].with-gap:checked + label:after,
.form-check-input[type=radio]:checked + label:after,
label.btn input[type=radio].with-gap:checked + label:after,
label.btn input[type=radio]:checked + label:after {
    background-color: #4285f4
}

.form-check-input[type=radio]:checked + label:after,
label.btn input[type=radio]:checked + label:after {
    transform: scale(1.02)
}

.form-check-input[type=radio].with-gap:checked + label:after,
label.btn input[type=radio].with-gap:checked + label:after {
    transform: scale(.5)
}

.form-check-input[type=radio].with-gap:disabled:checked + label:before,
label.btn input[type=radio].with-gap:disabled:checked + label:before {
    border: 2px solid rgba(0, 0, 0, .46)
}

.form-check-input[type=radio].with-gap:disabled:checked + label:after,
label.btn input[type=radio].with-gap:disabled:checked + label:after {
    border: none;
    background-color: rgba(0, 0, 0, .46)
}

.form-check-input[type=radio]:disabled:checked + label:before,
.form-check-input[type=radio]:disabled:not(:checked) + label:before,
label.btn input[type=radio]:disabled:checked + label:before,
label.btn input[type=radio]:disabled:not(:checked) + label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, .46)
}

.form-check-input[type=radio]:disabled + span,
label.btn input[type=radio]:disabled + span {
    color: rgba(0, 0, 0, .46)
}

.form-check-input[type=radio]:disabled:not(:checked) + span:before,
label.btn input[type=radio]:disabled:not(:checked) + span:before {
    border-color: rgba(0, 0, 0, .46)
}

.form-check-input[type=radio]:disabled:checked + span:after,
label.btn input[type=radio]:disabled:checked + span:after {
    background-color: rgba(0, 0, 0, .46);
    border-color: #bdbdbd
}

.form-check-input[type=radio]:checked + label:after .disabled-material,
label.btn input[type=radio]:checked + label:after .disabled-material {
    background-color: rgba(66, 133, 244, .2)
}

.md-disabled::after {
    background-color: rgba(66, 133, 244, .5) !important;
    border-color: rgba(66, 133, 244, .2) !important
}

.md-disabled::before {
    border-color: rgba(66, 133, 244, .25) !important
}

[type=checkbox]:checked,
[type=checkbox]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none
}

.form-check-input[type=checkbox] + label,
label.btn input[type=checkbox] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 1.5625rem;
    line-height: 1.5625rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.form-check-input[type=checkbox] + label.form-check-label-left,
label.btn input[type=checkbox] + label.form-check-label-left {
    padding: 0 35px 0 0 !important
}

.form-check-input[type=checkbox] + label.form-check-label-left:before,
label.btn input[type=checkbox] + label.form-check-label-left:before {
    left: 100% !important;
    right: 0;
    transform: translateX(-100%)
}

.form-check-input[type=checkbox] + label:before,
.form-check-input[type=checkbox]:not(.filled-in) + label:after,
label.btn input[type=checkbox] + label:before,
label.btn input[type=checkbox]:not(.filled-in) + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid #8a8a8a;
    border-radius: 1px;
    margin-top: 3px;
    transition: .2s
}

.form-check-input[type=checkbox]:not(.filled-in) + label:after,
label.btn input[type=checkbox]:not(.filled-in) + label:after {
    border: 0;
    transform: scale(0)
}

.form-check-input[type=checkbox]:not(:checked):disabled + label:before,
label.btn input[type=checkbox]:not(:checked):disabled + label:before {
    border: none;
    background-color: #bdbdbd
}

.form-check-input[type=checkbox]:checked + label:before,
label.btn input[type=checkbox]:checked + label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 1.375rem;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #4285f4;
    border-bottom: 2px solid #4285f4;
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: 100% 100%
}

.form-check-input[type=checkbox]:checked + label.form-check-label-left:before,
label.btn input[type=checkbox]:checked + label.form-check-label-left:before {
    transform: translateX(0) rotateZ(40deg);
    transform-origin: 0 0
}

.form-check-input[type=checkbox]:checked:disabled + label:before,
label.btn input[type=checkbox]:checked:disabled + label:before {
    border-right: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd
}

.form-check-input[type=checkbox]:indeterminate + label:before,
label.btn input[type=checkbox]:indeterminate + label:before {
    top: -11px;
    left: -12px;
    width: 10px;
    height: 1.375rem;
    border-top: none;
    border-left: none;
    border-right: 2px solid #4285f4;
    border-bottom: none;
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-origin: 100% 100%
}

.form-check-input[type=checkbox]:indeterminate + label.form-check-label-left:before,
label.btn input[type=checkbox]:indeterminate + label.form-check-label-left:before {
    top: 0;
    transform-origin: 0 0
}

.form-check-input[type=checkbox]:indeterminate:disabled + label:before,
label.btn input[type=checkbox]:indeterminate:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, .46);
    background-color: transparent
}

.form-check-input[type=checkbox].filled-in + label:after,
label.btn input[type=checkbox].filled-in + label:after {
    border-radius: .125rem
}

.form-check-input[type=checkbox].filled-in + label:after,
.form-check-input[type=checkbox].filled-in + label:before,
label.btn input[type=checkbox].filled-in + label:after,
label.btn input[type=checkbox].filled-in + label:before {
    content: '';
    left: 0;
    position: absolute;
    transition: border .25s, background-color .25s, width .2s .1s, height .2s .1s, top .2s .1s, left .2s .1s;
    z-index: 1
}

.form-check-input[type=checkbox].filled-in:not(:checked) + label:before,
label.btn input[type=checkbox].filled-in:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    transform: rotateZ(37deg);
    transform-origin: 100% 100%
}

.form-check-input[type=checkbox].filled-in:not(:checked) + label:after,
label.btn input[type=checkbox].filled-in:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid #5a5a5a;
    top: 0;
    z-index: 0
}

.form-check-input[type=checkbox].filled-in:checked + label:before,
label.btn input[type=checkbox].filled-in:checked + label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotateZ(37deg);
    transform-origin: 100% 100%
}

.form-check-input[type=checkbox].filled-in:checked + label:after,
label.btn input[type=checkbox].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #a6c;
    background-color: #a6c;
    z-index: 0
}

.form-check-input[type=checkbox].filled-in.filled-in-danger:checked + label:after,
label.btn input[type=checkbox].filled-in.filled-in-danger:checked + label:after {
    background-color: #f44336;
    border-color: #f44336
}

.form-check-input[type=checkbox]:disabled:not(:checked) + label:before,
label.btn input[type=checkbox]:disabled:not(:checked) + label:before {
    background-color: #bdbdbd;
    border-color: #bdbdbd
}

.form-check-input[type=checkbox]:disabled:not(:checked) + label:after,
label.btn input[type=checkbox]:disabled:not(:checked) + label:after {
    border-color: #bdbdbd;
    background-color: #bdbdbd
}

.form-check-input[type=checkbox]:disabled:checked + label:before,
label.btn input[type=checkbox]:disabled:checked + label:before {
    background-color: transparent
}

.form-check-input[type=checkbox]:disabled:checked + label:after,
label.btn input[type=checkbox]:disabled:checked + label:after {
    background-color: #bdbdbd;
    border-color: #bdbdbd
}

.select-wrapper .select-dropdown {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.select-label {
    position: absolute
}

.select-wrapper {
    position: relative
}

.select-wrapper input.select-dropdown {
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: 0;
    height: 38px;
    line-height: 2.9rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 .94rem 0;
    padding: 0;
    display: block;
    text-overflow: ellipsis;
    z-index: 2
}

.select-wrapper input.select-dropdown:disabled {
    color: rgba(0, 0, 0, .3);
    border-bottom-color: rgba(0, 0, 0, .2);
    cursor: default
}

.select-wrapper input.select-dropdown .selected,
.select-wrapper input.select-dropdown li:focus {
    background-color: rgba(0, 0, 0, .15)
}

.select-wrapper input.select-dropdown li.active {
    background: 0 0
}

.select-wrapper input.select-dropdown .fab,
.select-wrapper input.select-dropdown .far,
.select-wrapper input.select-dropdown .fas {
    color: inherit
}

.select-wrapper input.active {
    box-shadow: 0 1px 0 0 #4285f4;
    border-bottom: 1px solid #4285f4
}

.select-wrapper .search-wrap {
    padding: 1rem 0 0;
    display: block;
    margin: 0 .7rem
}

.select-wrapper .search-wrap .md-form {
    margin-top: 0;
    margin-bottom: 1rem
}

.select-wrapper .search-wrap .md-form input {
    padding-bottom: .4rem;
    margin-bottom: 0
}

.select-wrapper span.caret {
    color: initial;
    position: absolute;
    right: 0;
    top: .8rem;
    font-size: .63rem
}

.select-wrapper span.caret.disabled {
    color: rgba(0, 0, 0, .3)
}

.select-wrapper + label {
    position: absolute;
    top: 2.125rem;
    transition: .2s ease-out;
    color: #757575;
    font-weight: 300
}

.select-wrapper + label.active {
    transform: translateY(-14px);
    font-size: .8rem;
    top: 1.5rem;
    left: 15px
}

.select-wrapper + label.active-check {
    color: #4285f4
}

.select-wrapper + label.mdb-main-label {
    z-index: 1
}

.select-wrapper + label.disabled {
    color: rgba(0, 0, 0, .3)
}

.select-wrapper i {
    color: rgba(0, 0, 0, .3)
}

.select-wrapper ul {
    list-style-type: none;
    padding-left: 0
}

.select-wrapper.md-form > ul li label {
    top: 0;
    color: #4285f4;
    font-size: .9rem;
    transform: none
}

.select-wrapper.md-form > ul li.select-toggle-all label {
    padding-left: 38px
}

.select-wrapper.md-form.colorful-select > ul li.select-toggle-all:hover label {
    color: #fff
}

.select-wrapper.md-form.md-outline span.caret {
    padding-right: .75rem;
    padding-left: .75rem;
    color: #495057 !important
}

.select-wrapper.md-form.md-outline span.caret.active {
    color: #4285f4 !important
}

.select-wrapper.md-form.md-outline .dropdown-content {
    top: 2.7rem !important
}

.select-wrapper.md-form.md-outline input.select-dropdown {
    padding: .375rem .75rem;
    color: #495057
}

.select-wrapper.md-form.md-outline input.select-dropdown:focus {
    border-color: #4285f4;
    box-shadow: inset 0 0 0 1px #4285f4
}

.select-wrapper.md-form.md-outline + label {
    position: absolute;
    transform: translateY(40%);
    left: 23px;
    color: #757575;
    background: #fff;
    font-size: 13px;
    font-weight: 500;
    padding-right: 5px;
    padding-left: 5px;
    top: .5em !important;
    z-index: 2 !important
}

.select-wrapper.md-form.md-outline + label.active {
    color: #4285f4
}

.select-wrapper .select-add-option {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    cursor: pointer;
    color: #4285f4
}

.select-wrapper ~ .invalid-feedback,
.select-wrapper ~ .valid-feedback {
    margin-top: -1rem
}

select {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: none !important
}

select.browser-default {
    display: block !important
}

select:disabled {
    color: rgba(0, 0, 0, .3)
}

.select-dropdown [type=checkbox]:disabled:not(:checked) + label:before {
    margin-left: 0;
    margin-top: 3px
}

.select-dropdown ul {
    list-style-type: none;
    padding: 0
}

.select-dropdown li img {
    height: 30px;
    width: 30px;
    margin: .3rem .75rem;
    float: right
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
    color: rgba(0, 0, 0, .3);
    background-color: transparent !important;
    cursor: context-menu
}

.select-dropdown li.optgroup {
    border-top: 1px solid #eee
}

.select-dropdown li.optgroup.selected > span {
    color: rgba(0, 0, 0, .7)
}

.select-dropdown li.optgroup > span {
    color: rgba(0, 0, 0, .4)
}

.multiple-select-dropdown li [type=checkbox] + label {
    height: .63rem
}

.dropdown-content {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    background-color: #fff;
    margin: 0;
    display: none;
    min-width: 6.25rem;
    max-height: 40.625rem;
    overflow-y: auto;
    opacity: 0;
    position: absolute;
    z-index: 1021;
    will-change: width, height
}

.dropdown-content li {
    clear: both;
    color: #000;
    cursor: pointer;
    line-height: 1.3rem;
    width: 100%;
    text-align: left;
    text-transform: none
}

.dropdown-content li.active,
.dropdown-content li:hover {
    background-color: #eee
}

.dropdown-content li > a,
.dropdown-content li > span {
    font-size: .9rem;
    color: #4285f4;
    display: block;
    padding: .5rem
}

.dropdown-content li > a > i {
    height: inherit;
    line-height: inherit
}

.md-form .prefix ~ .mdb-select {
    margin-left: 1.5rem;
    width: calc(100% - 1.5rem);
}

.select-wrapper input.select-dropdown {
    margin: 0;
}