.croppie-container {
    height: auto;
}

.btn-dark .file-upload {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.profile-img img {
    max-width: 150px;
    width: 100%;
    height: auto;
    border-radius: 50%;
}
