.input-rounded-bordered {
    border: none !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    border-radius: 10rem !important;
    padding: .65rem 3.2rem .65rem 1.5rem !important;
    box-sizing: border-box !important;
}

.input-focus-shadow:focus {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.input-group-btn {
    position: absolute;
    top: 0.65rem;
    right: 1.2rem;
}

.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.testimonial-card .avatar {
    border-radius: 50%;
    width: 100px;
    margin-top: -50px;
    overflow: hidden;
    border: 5px solid #fff
}

.testimonial-card .avatar img {
    width: 100%
}

.testimonial-card .card-body {
    text-align: center
}

.result-card {
    width: calc(33.3% - 1rem);
    margin: 5rem .5rem 0 .5rem;
}
